<section class="container">
  <form #f="ngForm" class="formulario" (ngSubmit)="alterar()">
    <h2 class="formulario_titulo">Cliente</h2>

    <div class="form-field">
      <label class="form-field_label" for="name_client">Nome</label>
      <input class="form-field_input" id="name_client" type="text" [(ngModel)]="name_client" name="name_client">
    </div>

    <div class="form-field">
      <label class="form-field_label" for="cpf_cnpj">CPF / CNPJ</label>
      <input class="form-field_input" id="cpf_cnpj" type="text" [(ngModel)]="cpf_cnpj" name="cpf_cnpj">
    </div>

    <div class="form-field">
      <label class="form-field_label" for="rg_ie">RG / IE</label>
      <input class="form-field_input" id="rg_ie" type="text" [(ngModel)]="rg_ie" name="rg_ie">
    </div>

    <div class="form-field">
      <label class="form-field_label" for="dt_create">Data Criação</label>
      <input class="form-field_input" id="dt_create" type="text" [(ngModel)]="dt_create" name="dt_create">
    </div>

    <div class="form-field">
      <label class="form-field_label" for="active">Ativo</label>
      <input class="form-field_input" id="active" type="text" [(ngModel)]="active" name="active">
    </div>

    <div class="botao-wrapper">
      <button class="botao" type="submit">Alterar</button>
    </div>
  </form>

  <form class="formulario" (ngSubmit)="addContato()">
    <h4 class="formulario_titulo">Novo Contato</h4>

    <div class="form-field">
      <label class="form-field_label" for="contact_number">Numero</label>
      <input class="form-field_input" id="contact_number" type="number" [(ngModel)]="contact_number" name="contact_number">
    </div>

    <div class="botao-wrapper">
      <button class="botao" type="submit">Novo Contato</button>
    </div>
  </form>

  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Contato</th>
    </thead>
    <tbody>
      <tr class="tabela__linha" *ngFor="let contato of contatos">
        <td class="tabela__conteudo">{{ contato.contact_number}}</td>
        <td class="tabela__conteudo"><a href="https://www.w3schools.com">Excluir</a></td>
      </tr>
    </tbody>
  </table>
</section>
