
<section class="container">
  <h2 class="titulo">Clientes</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Nome</th>
      <th class="tabela__cabecalho__conteudo">CPF / CNPJ</th>
      <th class="tabela__cabecalho__conteudo">Ativo</th>
      <th class="tabela__cabecalho__conteudo">Detalhe</th>
    </thead>
    <tbody>
      <tr class="tabela__linha" *ngFor="let cliente of clientes">
        <td class="tabela__conteudo">
          {{ cliente.name_client }}
        </td>
        <td class="tabela__conteudo">{{ cliente.cpf_cnpj }}</td>
        <td class="tabela__conteudo">{{ cliente.active }}</td>
        <td class="tabela__conteudo"><a href="https://www.w3schools.com">Detalhes</a></td>
      </tr>
    </tbody>
  </table>
</section>
